header > p {
    font-size: 24px;
    font-weight: 700px;
    font-family: 'Inconsolata', monospace;
}

header {
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 68px;

}

#page-img {
    width: 100%;
    height: auto;
    margin-right: 20px;
}

.img-container {
    margin-right: 60px;
}

.tittle {
    font-family: 'Space Mono', monospace;
    font-weight: 700px;
    font-size: 64px ;
    color: #4f4f4f;
    
}

#intro-text {
     font-family: 'Space Mono', monospace;
    font-weight: 400px;
    font-size: 24px;
    line-height: 35.54px;
    
}

#home-button {
    
    background-color: #333333;
    color: white;
    height: 68px;
    padding: 20px;

}

footer > p {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
    background-color: aquamarine;
    }

    img {
        position: absolute;
        top: 100px;
        width: 57px;
        left: 42px;
    }

    .tittle {
        margin-top: 290px;
        font-family: 'Space Mono', monospace;
        width: 350px;
        font-size: 48px;
        line-height: 71px;
        font-weight: 700px;
    }
} 






margin-top: 290px;
        font-family: 'Space Mono', monospace;
        width: 350px;
        font-size: 48px;
        line-height: 71px;
        font-weight: 700px;


position: absolute;
width: 350px;
height: 142px;
left: 24px;
top: 407px;